<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokenpocket.opensdk">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.tokenpocket.opensdk.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokenpocket.opensdk.TPAssistActivity"
            android:exported="true"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>